:root {
  --darkGrey: #252422;
  --midGrey: #403d39;
  --lightGrey: #ccc5b9;
  --white: #fffcf2;
  --orange: #eb5e28;
  --cyan: #50b2c0;
  --navy: #4f5d75;
}

.btnCustom {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  letter-spacing: 0.1rem;
}

header.title {
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, var(--orange) 0%, var(--cyan) 100%);
}
