* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

#main {
    padding-top: 50px;
}

#username, #password {
    background-color: var(--white);
}

#pressLogin {
    width: 100%;
    padding: 10px;
    background-color: var(--cyan);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pressLogin:hover {
    background-color: var(--navy);
}