:root {
    --darkGrey: #252422;
    --midGrey: #403d39;
    --lightGrey: #ccc5b9;
    --white: #fffcf2;
    --orange: #eb5e28;
    --cyan: #50b2c0;
    --navy: #4f5d75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

#username, #password {
    background-color: var(--white);
}

#pressLogin {
    width: 100%;
    padding: 10px;
    background-color: var(--navy);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pressLogin:hover {
    background-color: var(--cyan);
}