

.body {
    background-color: var(--white);
}

#username, #password {
    background-color: var(--white);
}

#pressRegister {
    width: 100%;
    padding: 10px;
    background-color: var(--cyan);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pressRegister:hover {
    background-color: var(--navy);
}

.card {
    border-radius: 15px;
    background-color:var(--white);
}