:root {
    --darkGrey: #252422;
    --midGrey: #403d39;
    --lightGrey: #ccc5b9;
    --white: #fff;
    --orange: #eb5e28;
    --cyan: #50b2c0;
    --navy: #4f5d75;
}

@font-face {
    font-family: 'NicoPups';
    src: url(/static/fonts/NicoPups-Regular.woff2) format('woff2'), url(/static/fonts/NicoPups-Regular.woff) format('woff');
}

.pixelFont{
    font-family: 'NicoPups', sans-serif;
}

*{
    font-family: 'NicoPups', sans-serif !important;
}

.content {
    padding-top: 80px;
} 

.navbarCustom {
    background-color: var(--darkGrey);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbarCustom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: var(--white);
}

.navbarCustom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

