body {
    min-height: 100vh;
    overflow-x:hidden;
    background-image: url("/static/images/wood.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.inner-wrapper {
    position: relative;
    height: calc(100vh - 3.5rem);
}

#searchbar {
    border: none;
}

#newDiscussion {
    border: none;
}

.forum-content {
    padding: 25px;
    border-radius: 4px
}

.forum-content:after,
.forum-content:before {
    display: table;
    clear: both
}

.thread {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.thread:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: var(--navy);
    left: 20%;
    margin-left: -2.5px
}

.thread>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.thread .thread-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.thread .thread-time .date {
    line-height: 16px;
    font-size: 12px;
    display: block;
    font-weight: 600;
}

.thread .thread-time .time {
    line-height: 24px;
    font-size: 20px;
    color: var(--white);
    display: block;
    font-weight: 600;
}

.thread .thread-body {
    margin-left: 23%;
    margin-right: 17%;
    background: var(--white);
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.thread .thread-body:before {
    display: block;
    position: absolute;
    border: 10px solid transparent;
    left: -20px;
    top: 20px
}

.thread .thread-body>div+div {
    margin-top: 15px
}

.thread .thread-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.thread-header {
    padding-bottom: 10px;
    line-height: 30px
}

.thread-header .thread-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--darkGrey);
}

.timeline-header .thread-creator {
    font-size: 13px;
    font-weight: 600;
    color: var(--mediumGrey);
}

.thread img {
    max-width: 100%;
    display: block;
}

.thread-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px;
}

.thread-content:after,
.thread-content:before {
    display: table;
    clear: both;
}

.thread-title {
    margin-top: 0;
}

.active {
    color: white !important;
}