.w-95 {
    width: 95%;
}
.h-30 {
    height: 30%;
}
.h-45 {
    height: 45%;
}
.h-70 {
    height: 70%;
}

body{
    min-height: 100vh;
    overflow-x:hidden;
    background-image: url("/static/images/wood.png");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center center;
}

#levelImmediately{
    border: none;
}

#collectLoot{
    border: none;
}

.card-title {
    text-align: center;
    width: auto;
}

.card-img-top {
    width: 128px;
    height: 128px;
}

.count{
    font-size: 150%;
}

div.gallery {
    border: 1px solid var(--white);
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.align-bottom {
    justify-content: flex-end;
    display: flex;
}

.responsive-labels {
    padding: 0 6px;
    width: 10%;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 9%;
}

@media only screen and (max-width: 700px) {
.responsive {
    width: 20%;
    margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
.responsive {
    width: 20%;
}
}
