/* body{
  background-image: url("/static/images/wood.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
} */

.btnCustom {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  letter-spacing: 0.1rem;
}

header.title {
  padding-top: calc(8.2rem);
  padding-bottom: 7rem;
  background-image: url("/static/images/wood.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
}

#homeTitleIcon {
  color: #4f5d75;
  padding-left: 1rem;
}

