body {
    background-image: url("/static/images/wood.png");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center center;
}

.card {
    border-radius: 15px;
    background-color: var(--white);
}

.disabled {
    /*TODO: FIX THIS TO BE CONSISTENT*/
    background: var(--gray) !important;
}

#username, #password {
    background-color: var(--white);
}

#pressLogin {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}