body {
    background-image: url("/static/images/wood.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.card {
    border-radius: 15px;
    background-color:var(--white);
}

#username, #password {
    background-color: var(--white);
}

#pressLogin {
    width: 100%;
    padding: 10px;
    background-color: var(--cyan);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* #pressLogin:hover {
    background-color: var(--navy);
} */