body{
    min-height: 100vh;
    overflow-x:hidden;
    background-image: url("/static/images/wood.png");
    background-repeat: repeat-y;
    background-position: center center;
}

.white-text {
    color: var(--white);
}

#profile-username{
    color: var(--white);
}

#editProfile{
    border: none;
}

.profile-content {
    padding: 25px;
    border-radius: 4px
}

.profile-content:after,
.profile-content:before {
    content: '';
    display: table;
    clear: both
}

.profile-content .tab-content,
.profile-content .tab-pane {
    background: 0 0
}

.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: var(--navy);
    left: 20%;
    margin-left: -2.5px
}

.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px;
    color: var(--white);
    display: block;
    font-weight: 600
}

.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: var(--white);
    display: block;
    font-weight: 600;
}

.timeline .timeline-body {
    margin-left: 23%;
    margin-right: 17%;
    background: var(--white);
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    left: -20px;
    top: 20px
}

.timeline .timeline-body-comments:before {
    border-right-color: var(--white);
}

.timeline .timeline-body>div+div {
    margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.timeline-header {
    padding-bottom: 10px;
    /* border-bottom: 1px solid var(--white); */
    line-height: 30px
}

.timeline-header .thread-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--darkGrey);
}

.timeline-header .thread-creator {
    font-size: 13px;
    font-weight: 600;
    color: var(--mediumGrey);
}

.timeline img {
    max-width: 100%;
    display: block;
}

.timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px;
}

.timeline-content:after,
.timeline-content:before {
    content: '';
    display: table;
    clear: both;
}

.timeline-title {
    margin-top: 0;
}
