body{
    min-height: 100vh;
    overflow-x:hidden;
    background-image: url("/static/images/wood.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.card {
    border-radius: 15px;
    background-color:var(--white);
}

#username, #password {
    background-color: var(--white);
}

#pressRegister {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* #pressRegister:hover {
    background-color: var(--navy);
} */


