
#username, #password {
    background-color: var(--white);
}

#pressRegister {
    width: 100%;
    padding: 10px;
    background-color: var(--cyan);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pressRegister:hover {
    background-color: var(--navy);
}

.card {
    border-radius: 15px;
    background-color:var(--white);
}

#main {
    padding-top: 60px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/The_Great_Wave_off_Kanagawa.jpg/1200px-The_Great_Wave_off_Kanagawa.jpg?20070829004226');
}