/* div.content-box {
    margin-bottom:0;
    width: 100%
} */

body{
    margin-top:80px;
    background:var(--white);
}

.thread-header {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.thread-header .thread-header-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--cyan) 0, var(--darkGrey) 100%);
}

.thread-header .thread-header-content {
    color: var(--white);
    padding: 25px;
    position: relative;
}

.thread-content {
    padding: 25px;
    border-radius: 4px;
}

.thread-content:after,
.thread-content:before {
    content: '';
    display: table;
    clear: both;
}

.thread-content .tab-content,
.thread-content .tab-pane {
    background: 0 0;
}

.poster {
    font-size: .8em;
}

#commentText {
    width: 80%;
}

.comment-username{
    color: var(--white);
}

hr {
    color: var(--white);
}

label {
    color: var(--white);
}

