{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/game.css') }}">
    <script id="threadScript" type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>

    <title>Game</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container content d-flex">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-md-3 ml-1 pt-1 align-items-center ">
                    <div class="mb-1 pt-4 pb-3 text-center h-70 bg-white align-items-start align-content-center shadow rounded overflow-hidden">
                        <h2>LEVEL {{ user.level }}</h2>
                    </div>
                    <button id="levelImmediately" type="button"
                            class="w-100 text-center h-30 bg-white align-items-end align-content-center shadow rounded overflow-hidden">
                        LEVEL IMMEDIATELY
                    </button>
                </div>
                <div class="col-md-3 mx-1 pt-1 bg-white shadow rounded overflow-hidden align-content-center">
                    <div class="w-95">
                        <div class="text-center">
                            <h3>LEVEL TIMER</h3>
                            <h3 id="levelTime">00:00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-1 align-items-center pt-1">
                    <div class="mb-1 pt-4 pb-3 text-center h-70 bg-white align-items-start align-content-center shadow rounded overflow-hidden">
                        <h4 id="lootTimerTitle">LOOT TIMER</h4>
                        <h3 id="lootTime">00:00</h3>
                    </div>
                    <button id="collectLoot" type="button"
                            class="w-100 text-center h-30 bg-white align-items-end align-content-center shadow rounded overflow-hidden">
                        COLLECT LOOT
                    </button>
                </div>
            </div>
            <div class="mt-4 bg-white shadow rounded overflow-hidden d-flex justify-content-center">
                <div class="w-95">
                    <h2>Needed Items</h2>
                    <div class="row">
                        {% for i, item in items %}
                            <div class="mb-2 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid"
                                                     src="{{ url_for('static', filename='images/' + i.__str__() + item +'.png') }}"
                                                     alt=""></a>
                                    <div class="text-center">
                                        <p class="count">{{ user.inventory.get_items_required()[i] }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mt-4 bg-white shadow rounded overflow-hidden d-flex justify-content-center">
                <div class="w-95">
                    <h2>Inventory</h2>
                    {% for i, item in items %}
                        <div class="mb-2 responsive">
                            <div class="card h-100 gallery">
                                <a href="#"><img class="card-img-top img-fluid"
                                                 src="{{ url_for('static', filename='images/' + i.__str__() + item + '.png') }}"
                                                 alt=""></a>
                                <div class="text-center">
                                    <p class="count">{{ user.inventory.get_items()[i] }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}