{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/game.css') }}">
    <title>Game</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container content">
        <div class="row"> 
            <div class="mx-auto">
                <div class="shadow rounded overflow-hidden d-flex justify-content-center"> 
                    <div class="w-95">
                        <h2>Needed Items</h2>
                        <div class="row">
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/0Boar.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Boar</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/1Cheese.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Cheese</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/2Emerald.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Emerald</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/3Feather.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Feather</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/4Horn.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Horn</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/5Ink.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Ink</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/6Meat.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Meat</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/7Mushroom.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Mushroom</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/8Orb.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Orb</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/9Scroll.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Scroll</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="shadow rounded overflow-hidden d-flex justify-content-center"> 
                    <div class="w-95">
                        <h2>Inventory</h2>
                        <div class="row">
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/0Boar.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Boar</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/1Cheese.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Cheese</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/2Emerald.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Emerald</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/3Feather.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Feather</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/4Horn.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Horn</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/5Ink.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Ink</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/6Meat.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Meat</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/7Mushroom.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Mushroom</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/8Orb.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Orb</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 responsive">
                                <div class="card h-100 gallery">
                                    <a href="#"><img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/9Scroll.png') }}" alt=""></a>
                                    <div class="align-items-end count-translate">
                                        <p class="count">#</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">Scroll</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}