{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
    <title>Home Page</title>
{% endblock %}

{% block bodyBlock %}
    <header class="title text-center text-white">
        <div class="titleContent">
            <div class="container px-5 ">
                <i id="homeTitleIcon" class="fa-solid fa-gem fa-4x me-3 mt-xl-4 mb-2 pt-5"></i>
                <h1 class="titleHeading mb-0 align-items-center">Loot Legends</h1>
                <h2 class="titleSubheading mb-0 align-items-center">Seek, Collect, Rule</h2>
                <a class="btn btn-primary btnCustom rounded-pill mt-5" href="#scroll">Learn More</a>
            </div>
        </div>
    </header>

    <section id="scroll">
        <div class="container pt-5">
            <div class="row d-flex">
                <div class="col-6">
                    <h2 class="text-end">What is Loot Legends?</h2>
                    <p class="text-end">In 'Loot Legends,' time is both ally and adversary. As the countdown ticks away, players must swiftly gather loot from across the realm, trading strategically to level up their inventory. Every acquisition is a step closer to legendary status, but hesitation could mean defeat. Navigate the markets wisely, for in this race against time, the spoils go to the swift and the savvy. Will you seize the riches before the clock strikes zero, or be left behind in the dust of forgotten treasures?</p>
                </div>
                <div class="col-6 d-flex justify-content-start align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="icon" src="{{ url_for('static', filename='images/8Orb.png') }}" alt="..." />
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-6 d-flex justify-content-end align-items-center">
                <div class="d-flex align-items-center">
                    <img class="icon" src="{{ url_for('static', filename='images/2Emerald.png') }}" alt="..." />
                </div>
            </div>
            <div class="col-6">
                <h2>How to Play</h2>
                <p>[insert game instructions]</p>
            </div>
        </div>
    </section>
{% endblock %}
