{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
    <title>Home Page</title>
{% endblock %}

{% block bodyBlock %}
    <header class="title text-center text-white">
        <div class="titleContent">
            <div class="container px-5 ">
                <i id="homeTitleIcon" class="fa-solid fa-gem fa-4x me-3 mt-xl-4 mb-2 pt-5"></i>
                <h1 class="titleHeading mb-0 align-items-center">Loot Legends</h1>
                <h2 class="titleSubheading mb-0 align-items-center">Seek, Collect, Rule</h2>
                <a class="btn btn-primary btnCustom rounded-pill mt-5" href="#scroll">Learn More</a>
            </div>
        </div>
    </header>

    <section id="scroll">
        <div class="container pt-5">
            <div class="row d-flex">
                <div class="col-6">
                    <h2 class="text-end">What is Loot Legends?</h2>
                    <p class="text-end">In 'Loot Legends,' time is both ally and adversary. As the countdown ticks away, players must swiftly gather loot from across the realm, trading strategically to level up their inventory. Every acquisition is a step closer to legendary status, but hesitation could mean defeat. Navigate the markets wisely, for in this race against time, the spoils go to the swift and the savvy. Will you seize the riches before the clock strikes zero, or be left behind in the dust of forgotten treasures?</p>
                </div>
                <div class="col-6 d-flex justify-content-start align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="icon" src="{{ url_for('static', filename='images/8Orb.png') }}" alt="...">
                    </div>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="icon" src="{{ url_for('static', filename='images/2Emerald.png') }}" alt="...">
                    </div>
                </div>
                <div class="col-6">
                    <h2>How to Play</h2>
                    <p>The objective of this game is to level up as high as possible before the level-up timer reaches zero, at which point you'll revert back to level 1. To level up, you must collect a specific number of items through "loot drops." These loot drops can be obtained periodically by clicking a designated button. However, the loot drops may not always provide enough items to meet your level-up requirements. In such cases, you can visit the forum and create a new thread requesting the items you need. Other players can respond to your thread with offers from their own inventories, allowing you to trade items and boost your progress. Engage with the community, make strategic trades, and aim to achieve the highest level possible before the timer runs out!</p>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-6">
                    <h2 class="text-end">About Us</h2>
                    <p class="text-end">The website was developed as part of the University of Western Australia's CITS3403 Agile Web Development unit in 2024 by a dedicated team of students: Heidi Leow, James Frayne, Jared Healy, and Brigitte Gredziuk. Each member brought their unique skills and perspectives to the project, ensuring a comprehensive approach to development. We are thrilled to present our website and game to the community, eager for people to enjoy the engaging and interactive experiences we have created. This project not only honed our technical abilities but also emphasized the importance of teamwork in bringing our vision to life. We hope users find as much joy in exploring the website and playing the game as we did in developing them.</p>
                </div>
                <div class="col-6 d-flex justify-content-start align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="icon" src="{{ url_for('static', filename='images/0Boar.png') }}" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
