/**
COLOR THEME CODES
252422 = dark
403d39 = mid
ccc5b9 = light
fffcf2 = white
4f5d75 = navy
50b2c0 = cyan
eb5e28 = orange
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fffcf2;
}

#username, #password {
    background-color: #fffcf2;
}

#pressLogin {
    width: 100%;
    padding: 10px;
    background-color: #4f5d75;
    color: #fffcf2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pressLogin:hover {
    background-color: #50b2c0;
}