{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}"/>
    <title>Profile</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container">
        <div class="row"> 
            <div class="mx-auto">
                <div class="shadow rounded overflow-hidden"> 
                    <div class="px-4 pt-0 pb-4 cover"> 
                        <div class="media align-items-end profile-head"> 
                            <div class="profile">
                                <img src="{{ url_for('static', filename='images/jsMug.png') }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                <button id="editProfile" class="btn btn-outline-dark btn-sm btn-block" type="button" data-toggle="modal" data-target="#editProfileModal">
                                    Edit Profile
                                </button>
                            </div> 
                        <div class="mb-5" id="profile-username"> 
                            <h2>{{ user.username }}</h2> 
                        </div> 
                    </div> 
                </div> 
                <div class="bg-white p-4 d-flex justify-content-end text-center"> 
                    <ul class="list-inline mb-0 align-items-end"> 
                        <li class="list-inline-item"> 
                            <p class="mb-0 d-block">[TODO: #TRs]</p>
                            <small class="text-muted"> <i class="fas fa-arrows-rotate mr-1"></i>Trade Requests</small> 
                        </li> 
                        <li class="list-inline-item"> 
                            <p class="mb-0 d-block">[TODO: #comments]</p>
                            <small class="text-muted"> <i class="fas fa-comment mr-1"></i>Comments</small> 
                        </li> 
                    </ul> 
                </div> 
            </div>
        </div>

        <div class="profile-content">
            <div class="tab-content p-0">
                <div class="tab-pane fade active show" id="profile-post">
                    <h2 class="white-text">Threads</h2>
                    <ul class="timeline">
                        {% for i in posts %}
                            <li>
                                <div class="timeline-time">
                                    <span class="date">{{ i.created_at.date() }}</span>
                                    {# HACK (Jared): stop using cursed __str__ method #} 
                                    <!-- TODO remove comment. -->
                                    <span class="time">{{ i.created_at.time().hour.__str__().zfill(2) }}:{{ i.created_at.time().minute.__str__().zfill(2) }}</span>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-header">
                                        <span class="thread-name">
                                            <a href="/thread/{{i.id}}">{{ i.title }}</a> <small></small>
                                        </span>
                                    </div>
                                    <div class="timeline-content">
                                        <p>
                                            {{ i.description }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <h2 class="white-text">Comments</h2>
                    <ul class="timeline">
                        <!-- {% for i in comments %} -->
                        <li>
                            <div class="timeline-time">
                                <span class="date">TODO:2024-06-09</span>
                                <span class="time">TODO:16:20</span>
                            </div>
                            <div class="timeline-body timeline-body-comments">
                                <div class="timeline-header">
                                    <span class="thread-name">
                                        TODO:>a href="/thread/i.id">i.title <small></small>
                                    </span>
                                    <br>
                                    <span class="thread-creator">
                                        TODO: creator of thread's username
                                    </span>
                                </div>
                                <div class="timeline-content">        
                                    <p>TODO:i.comment_text</p>
                                </div>
                            </div>
                        </li>
                        <!-- {% endfor %} -->
                    </ul>
                </div>
            </div>

            <!-- Edit Profile Modal -->
            <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="editProfileModalLabel">Edit Profile</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">×</span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Enter title" autofocus="" required/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description" placeholder="Enter description" autofocus="" required/>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="submit" data-dismiss="modal">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


