{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}"/>
    <title>Profile</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container">
        <div class="row"> 
            <div class="mx-auto">
                <div class="shadow rounded overflow-hidden"> 
                    <div class="px-4 pt-0 pb-4 cover"> 
                        <div class="media align-items-end profile-head"> 
                            <div class="profile">
                                <img src="{{ url_for('static', filename='images/jsMug.png') }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                <a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                            </div> 
                        <div class="mb-5" id="profile-username"> 
                            <h2>{{ user.username }}</h2> 
                        </div> 
                    </div> 
                </div> 
                <div class="bg-white p-4 d-flex justify-content-end text-center"> 
                    <ul class="list-inline mb-0 align-items-end"> 
                        <li class="list-inline-item"> 
                            <p class="mb-0 d-block">[TODO: #posts]</p>
                            <small class="text-muted"> <i class="fas fa-image mr-1"></i>Requests</small> 
                        </li> 
                        <li class="list-inline-item"> 
                            <p class="mb-0 d-block">[TODO: #comments]</p>
                            <small class="text-muted"> <i class="fas fa-user mr-1"></i>Comments</small> 
                        </li> 
                    </ul> 
                </div> 
            </div>
        </div>

        <div class="profile-content">
            <div class="tab-content p-0">
                <div class="tab-pane fade active show" id="profile-post">
                    <h2 class="white-text">Requests</h2>
                    <ul class="timeline">
                        {% for i in posts %}
                            <li>
                                <div class="timeline-time">
                                    <span class="date">{{ i.created_at.date() }}</span>
                                    {# HACK (Jared): stop using cursed __str__ method #} 
                                    <!-- TODO remove comment. -->
                                    <span class="time">{{ i.created_at.time().hour.__str__().zfill(2) }}:{{ i.created_at.time().minute.__str__().zfill(2) }}</span>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-header">
                                        <span class="thread-name">
                                            <a href="/thread/{{i.id}}">{{ i.title }}</a> <small></small>
                                        </span>
                                    </div>
                                    <div class="timeline-content">
                                        <p>
                                            {{ i.description }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <h2 class="white-text">Comments</h2>
                    <ul class="timeline">
                        <!-- {% for i in posts %} -->
                        <li>
                            <div class="timeline-time">
                                <span class="date">TODO:2024-06-09</span>
                                <span class="time">TODO:16:20</span>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-header">
                                    <span class="thread-name">
                                        TODO:>a href="/thread/i.id">i.title <small></small>
                                    </span>
                                    <br>
                                    <span class="thread-creator">
                                        TODO: creator of thread's username
                                    </span>
                                </div>
                                <div class="timeline-content">        
                                    <p>TODO:i.description</p>
                                </div>
                            </div>
                        </li>
                        <!-- {% endfor %} -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


