{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}"/>
    <script type="module" src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <title>Profile</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container content">
        <div class="row">
            <div class="mx-auto">
                <div class="shadow rounded overflow-hidden">
                    <div class="px-4 pt-0 pb-4 cover">
                        <div class="media align-items-end profile-head">
                            <div class="profile">
                                <img src="{{ url_for('static', filename='images/jsMug.png') }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                                <button id="editProfile" class="btn btn-outline-dark btn-sm btn-block" type="button" data-toggle="modal" data-target="#editProfileModal">
                                    Edit Profile
                                </button>
                            </div>
                        <div class="mb-5" id="profile-username">
                            <h2>{{ user.username }}</h2>
                            <small>{{ user.description | safe }}</small>
                        </div>
                    </div>
                </div>
                <div class="bg-white p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0 align-items-end">
                        <li class="list-inline-item">
                            <p class="mb-0 d-block">[TODO: #TRs]</p>
                            <small class="text-muted"> <i class="fas fa-arrows-rotate mr-1"></i>Trade Requests</small>
                        </li>
                        <li class="list-inline-item">
                            <p class="mb-0 d-block">[TODO: #comments]</p>
                            <small class="text-muted"> <i class="fas fa-comment mr-1"></i>Comments</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="profile-content">
            <div class="tab-content p-0">
                <div class="tab-pane fade active show" id="profile-post">
                    <h2 class="white-text">Threads</h2>
                    <ul class="timeline">
                        {% for i in posts %}
                            <li>
                                <div class="timeline-time">
                                    <span class="date">{{ i.created_at.date() }}</span>
                                    <span class="time">{{ i.created_at.time().hour }}:{{ "0" if i.created_at.time().minute <=10 else "" }}{{ i.created_at.time().minute }}</span>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-header">
                                        <span class="thread-name">
                                            <a href="/thread/{{i.id}}">{{ i.title | safe }}</a> <small></small>
                                        </span>
                                    </div>
                                    <div class="timeline-content">
                                        <p>
                                            {{ i.description | safe }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Edit Profile Modal -->
            <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header d-flex align-items-center bg-primary text-white">
                                <h6 class="modal-title mb-0" id="editProfileModalLabel">Edit Profile</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">×</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="description">New description</label>
                                    <input id="description" type="text" class="form-control" placeholder="Enter new description" autofocus="">
                                </div>

                                <div class="form-group">
                                    <label for="password">New password</label>
                                    <input id="password" type="text" class="form-control" placeholder="Enter new password">
                                </div>

                                <div class="form-group">
                                    <label for="securityQuestion">New security question</label>
                                    <select id="securityQuestion" type="text" class="form-control" placeholder="Enter new security question" >
                                        <option value="1">What was the name of your first pet?</option>
                                        <option value="2">In which city were you born?</option>
                                        <option value="3">In what city or town did your parents meet?</option>
                                        <option value="4">What is your favourite book?</option>
                                        <option value="5">What is the name of the street you grew up on?</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="securityQuestionAnswer">New security question answer</label>
                                    <input id="securityQuestionAnswer" type="text" class="form-control" placeholder="Enter new security question answer">
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button id="updateProfile" type="submit" class="btn btn-primary" data-dismiss="modal">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


