/**
COLOR THEME CODES
252422 = dark
403d39 = mid
ccc5b9 = light
fffcf2 = white
4f5d75 = navy
50b2c0 = cyan
eb5e28 = orange
*/

.body {
    background-color:#fffcf2;
}

#username, #password {
    background-color: #fffcf2;
}

#pressRegister {
    width: 100%;
    padding: 10px;
    background-color: #4f5d75;
    color: #fffcf2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pressRegister:hover {
    background-color: #50b2c0;
}

.card {
    border-radius: 15px;
    background-color:#fffcf2;
}