{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thread.css') }}"/>
    <script id="threadScript" type="module" src="{{ url_for('static', filename='js/thread.js') }}" data-thread-id="{{ thread_id }}"></script>
    <title>Thread</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container content">
        <div class="thread-header bg-white shadow rounded overflow-hidden">
            <div class="thread-header-content">
                <div class="thread-header-info mb-4">
                    <h1 id="title"> {{ thread.title }}</h1>
                    <i class="poster"> Posted by {{ thread.poster.username }}</i>
                    <p id="description"> {{ thread.description }}</p>
                </div>
            </div>
        </div>

        <div class="thread-content p-0">
                <div class="fade active show" id="thread-post">
                    <div class="mt-3" id="children">
                        <div class="m-2 post-comment">
                            <input type="text" id="commentText" placeholder="Type a comment here" class="pixelFont" required/>
                            <input id="submit" type="submit" value="Post comment" class="pixelFont"/>
                        </div>

                        <ul class="timeline">
                            {% for i in comments %}
                                <li>
                                    <div class="timeline-time">
                                        <span class="date">{{ i.created_at.date() }}</span>
                                        <span class="time">{{ i.created_at.time().hour.__str__().zfill(2) }}:{{ i.created_at.time().minute.__str__().zfill(2) }}</span>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <h5 class="comment-username mb-1">{{ i.user.username }}</h5>
                                            <p>{{ i.comment_text }}</p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}