{% extends "base.html" %}

{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thread.css') }}"/>
    <script id="threadScript" type="module" src="{{ url_for('static', filename='js/thread.js') }}" data-thread-id="{{ thread_id }}"></script>
    <title>Thread</title>
{% endblock %}

{% block bodyBlock %}
    <div class="container">
        <div class="thread-header">
            <div class="thread-header-cover"></div>
            <div class="thread-header-content">
                <div class="thread-header-info mb-4">
                    <h1 id="title"> {{ thread.title }}</h1>
                    <i class="poster"> Posted by {{ thread.poster.username }}</i>
                    <p id="description"> {{ thread.description }}</p>
                </div>
            </div>
        </div>

        <div class="thread-content">
            <div class="tab-content p-0">
                <div class="tab-pane fade active show" id="thread-post">
                    <div class="list-group mt-3" id="children">
                        <div class="m-2 post-comment">
                            <input type="text" id="commentText" placeholder="Type a comment here" required/>
                            <input id="submit" type="submit" value="Post comment"/>
                        </div>
                        <div class="m-2 post-comment">
                            <h3>Submit a trade request</h3>
                            {% for i, item in items %}
                            <p class="readable">{{ item }}: <label for="give{{ i }}">You give</label> <input type="text" id="give{{ i }}"/> <label for="get{{ i }}">and get</label> <input type="text" id="get{{ i }}"/></p>
                            {% endfor %}
                            <input id="newTrade" type="submit" value="Create Trade"/>
                        </div>

                        <ul class="timeline" id="comments">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}