{% extends "base.html" %}
{% block headBlock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/thread.css') }}">

    <script id="threadScript" type="module" src="{{ url_for('static', filename='js/thread.js') }}"
            data-thread-id="{{ thread_id }}"></script>
    <title>Thread</title>
{% endblock %}

{% block bodyBlock %}
        <div class="container" style="margin-top:30px">
            <div class="jumbotron container content-box" ><h1 id="title"> {{ thread.title }}</h1>
                <i class="poster"> Posted by {{ thread.poster.username }}</i>
                <p id="description"> {{ thread.description }}</p>
            </div>
            <div class="list-group" id="children" style="margin-top:30px">
                {% for i in comments %}
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ i.user.username }}</h5>
                            <small>{{ i.created_at.time().hour.__str__().zfill(2) }}:{{ i.created_at.time().minute.__str__().zfill(2) }} ({{ i.created_at.date() }})</small>
                        </div>
                        <p class="mb-1">{{ i.comment_text }}</p>
                    </a>
                    <hr style="color:#FFF;">
                {% endfor %}
                <div style="margin:15px">
                    <label for="commentText" style="color: white">Type a comment here: </label>
                    <input type="text" id="commentText" style="width: 80%" required/>
                    <input id="submit" type="submit" value="Post comment"/>
                </div>
            </div>
            <a class="nav-link" href="{{ url_for('main_bp.forum_page') }}">Back</a>
        </div>
{% endblock %}